:root {
    --main-font: "Roboto",
        sans-serif;
    --accent-cl: #404bbf;
    --back-color-button: #404BBF;

    /* Breakpoints */
    --mob: 428px;
    --tab: 768px;
    --desk: 1439px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.link {
    text-decoration: none;
    color: currentColor;
}

.header-contacts,
.header-address,
.mobile-menu-contacts-list {
    font-style: normal;
}

input {
    font-family: inherit;
}

/* main styles */



@media only screen and (min-width: 320px) and (max-width: 767.98px) {
    body {
        max-width: 428px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    body {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
    body {
        max-width: 1440px;
    }
}

.container {
    min-width: 320px;
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
    .header-main-div {
        display: flex;
        align-items: center;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.link-logo {
    color: #4d5ae5;
    font-family: Raleway,
        sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .link-logo {
        margin-right: 120px;
    }
}

.logo-accent {
    color: #2e2f42;
}

.link-logo,
.footer-logo,
.nav-item-link,
.header-address-link,
.mobile-menu-contacts-list,
.project-cards-link {
    text-decoration: none;
}

.header-btn {
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    stroke: #2e2f42;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    padding: 0;
    margin-left: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media not (hover: hover) {
    .header-btn:active {
        background-color: #404bbf;
    }
}

@media only screen and (min-width: 768px) {
    .header-btn {
        display: none;
    }
}

.header-address {
    display: flex;
    align-items: center;
}

.header-address-list {
    display: flex;
    gap: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .header-address-list {
        flex-direction: column;
        gap: 12px;

        margin-top: 16px;
        margin-bottom: 16px;
    }
}

@media only screen and (max-width: 767.98px) {
    .header-nav-list {
        display: none;
    }
}

@media only screen and (max-width: 767.98px) {
    .header-address-list {
        display: none;
    }
}

.nav-item-link {
    color: #2e2f42;
    font-weight: 500;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-item-link.current {
    position: relative;
    color: #404bbf;
}

.current::after {
    content: '';
    position: absolute;
    display: flex;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404bbf;
}

.header-address-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .header-address-link {
        display: block;
        padding: 0;
        font-size: 12px;
    }
}

.nav-item-link:hover,
.nav-item-link:focus,
.header-address-link:hover,
.header-address-link:focus {
    color: #404bbf;
}

/* main */



.section-hero {
    padding: 112px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/people-office.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 767.98px) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg-people-office_mobile.jpg);
    }
}

@media only screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg-people-office_mobile@2x.jpg);
    }
}

@media only screen and (min-width: 768px) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg-people-office_tablet.jpg);
    }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi),
(min-width: 768px) and (min-device-pixel-ratio: 2),
(min-width: 768px) and (min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg-people-office_tablet@2x.jpg);
    }
}

@media only screen and (min-width: 1158px) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg-people-office_desktop.jpg);
    }
}

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi),
(min-width: 1158px) and (min-device-pixel-ratio: 2),
(min-width: 1158px) and (min-resolution: 2dppx) {
    .section-hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg-people-office_desktop@2x.jpg);
    }
}

@media only screen and (min-width: 1158px) {
    .section-hero {
        padding: 188px 0;
    }
}

.section-hero-title {
    color: #ffffff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 320px;
    margin: 0 auto 72px auto;
    text-align: center;
    font-style: normal;
    line-height: 40px;
    font-family: Roboto;
}

@media only screen and (min-width: 768px) {
    .section-hero-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 0 auto 48px auto;
    }
}



.section-hero-button {
    display: block;
    margin: 0 auto;
    color: #ffffff;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.button {
    padding: 16px 32px;
}

.section-hero-button:hover,
.section-hero-button:focus {
    background-color: var(--back-color-button);
}

/* FEATURES */

.section-features {
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .section-features {
        padding: 120px 0;
    }
}

.section-features,
.section-team {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

.section-features-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    padding: 120px 0;
}

.section-features-title,
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .features-list {
        gap: 72px 24px;
    }
}

@media only screen and (min-width: 1158px) {
    .features-list {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 24px;
    }
}

.features-list-item {
    display: block;
    max-width: 100%;
}

@media only screen and (min-width: 768px) {
    .features-list-item {
        width: calc((100% - 24px * 1) / 2);
    }
}

@media only screen and (min-width: 768px) and (max-width: 1157.98) {
    .features-list-item:not(:last-child) {
        margin-bottom: 48px;
    }
}

@media only screen and (min-width: 1158px) {
    .features-list-item {
        width: 264px;
    }
}

.features-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border-radius: 4px;
    background: #F4F4FD;
    margin-bottom: 8px;
}

@media (min-width: 320px) and (max-width: 1157.98px) {
    .features-thumb {
        display: none;
    }
}

.features-subtitle {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .features-subtitle {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
    .features-subtitle {
        font-size: 36px;
        font-weight: 500;
        line-height: 1.2;
    }
}

.features-paragraph {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

@media only screen and (min-width: 1158px) {
    .features-paragraph {
        font-weight: 400;
    }
}

.section-we-doing-title {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 72px;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.we-doing {
    padding-bottom: 120px;
}

@media (min-width: 320px) and (max-width: 1157.98px) {
    .we-doing {
        display: none;
    }
}

.we-doing-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    gap: 24px;
}

.we-doing-list-item {
    flex-basis: calc((100% - 48px) / 3);
}

/* SECTION TEAM */

.section-team {
    background-color: #F4F4FD;
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .section-team {
        padding: 120px 0;
    }
}

.section-team-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-team-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 72px;
}

@media only screen and (min-width: 768px) {
    .section-team-list {
        gap: 64px 24px;
    }
}

.section-team-item {
    background-color: #ffffff;
    padding-bottom: 0px;
    text-align: center;
    flex-basis: calc((100% - 24px * 3) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.teamcards-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.team-member-item {
    padding: 32px 0;
}

.section-team-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin: 0 auto 8px auto;
}

.section-team-paragraph {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto 8px auto;
}

.social-links-team {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0 16px 0;
}

.social-links-team-item {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sicial-links-image-team {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border: 1px solid transparent;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.social-links-svg {
    fill: #f4f4fd;
}

.sicial-links-image-team:hover,
.sicial-links-image-team:focus {
    background-color: #404bbf;
}

.customers {
    padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
    .customers {
        padding: 120px 0;
    }
}

.customers-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    position: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
}

@media only screen and (min-width: 768px) {
    .customers-list {
        gap: 72px 24px;
    }
}

.customers-list-item {
    max-width: 190px;
    height: 88px;
    width: calc((100% - 16px * 1) / 2);
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .customers-list-item {
        max-width: 168px;
        width: calc((100% - 24px * 2) / 3);
    }
}

@media only screen and (min-width: 1158px) {
    .customers-list-item:not(:last-child) {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1158px) {
    .customers-list-item {
        width: calc((100% - 24px * 5) / 6);
    }
}

.customers-list-item .link {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    ;
}

.customers-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.customers-item-link:hover,
.customers-item-link:focus {
    border-color: #404bbf;
    color: #404bbf;
}

.customer-item-svg {
    fill: currentcolor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer */

.footer {
    padding: 96px 0;
    background-color: #2e2f42;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
    .footer-container {
        width: 584px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        align-items: baseline;
    }
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

@media only screen and (min-width: 768px) {
    .footer-logo {
        align-items: baseline;
        margin-right: 24px;
    }
}

.footer-logo-link {
    color: #4d5ae5;
    font-family: Raleway,
        sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
}

@media only screen and (min-width: 1158px) {
    .footer-logo {
        margin-right: 120px;
    }
}

.footer-logo-accent,
.footer-text {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    width: 264px;
    margin-bottom: 72px;
}

@media only screen and (min-width: 1158px) {
    .footer-text {
        margin-bottom: 0;
    }
}

.footer-socials {
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .footer-socials {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-socials {
        margin-right: 80px;
    }
}

.footer-socials-list {
    display: flex;
    margin: 0;
    gap: 16px;
}

.footer-socials-subject,
.footer-subscription-subject,
.footer-form-btn {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .footer-subscription-subject {
        text-align: left;
    }
}

@media only screen and (min-width: 768px) {
    .footer-socials-subject {
        text-align: left;
    }
}

.footer-socials-item {
    display: flex;
    gap: 16px;
    width: 40px;
    height: 40px;
}

.footer-socials-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border: 1px solid transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #31D0AA;
}

.footer-socials-icon {
    fill: #F4F4FD;
}


.mobile-menu-icon,
.footer-social-media-svg {
    fill: #f4f4fd;
}

.logo-accent-footer {
    color: #f4f4fd;
}

.footer-paragraph {
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 1.5;
    width: 264px;
    margin-bottom: 72px;
}

@media only screen and (min-width: 1158px) {
    .footer-paragraph {
        margin-bottom: 0;
    }
}

.footer-socials {
    margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
    .footer-socials {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-socials {
        margin-right: 80px;
    }
}

.form-paragraph {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .form-paragraph {
        text-align: left;
    }
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

@media only screen and (min-width: 768px) {
    .footer-form {
        flex-direction: row;
        gap: 24px;
    }
}

.footer-form-label {
    gap: 24px;
}

.footer-label-input {
    min-width: 264px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: transparent;
    color: #ffffff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 768px) {
    .footer-label-input {
        width: 264px;
    }
}

.footer-label-input::placeholder {
    color: #ffffff;
}

.submit-form-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-width: 165px;
    height: 40px;
    letter-spacing: 0.04em;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    background: #4d5ae5;
    cursor: pointer;
    color: #fff;
}

.submit-form-button-svg {
    margin-left: 16px;
    fill: #FFFFFF;
}

/* Modal */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.data-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 392px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
    transform: translateX(-50%) translateY(-50%) scale(0.2);
    opacity: 0;
}

@media only screen and (min-width: 768px) {
    .data-modal {
        width: 408px;
    }
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.modal-btn-img {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 320px;
    min-height: 584px;
    position: absolute;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-btn:hover,
.modal-btn:focus {
    border: none;
    background-color: #404bbf;
}

.modal-btn:hover>.modal-btn-img,
.modal-btn:focus>.modal-btn-img {
    fill: #ffffff;
}

.modal-btn-img {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
    color: #2e2f42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-form-list {
    margin-bottom: 8px;
}

.modal-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-form-field {
    position: relative;
}

.input-icon-modal {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-modal:focus {
    border-color: #4d5ae5;
    fill: #4d5ae5;
}

.modal-form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-modal:focus+.modal-form-icon {
    fill: #4d5ae5;
}

.modal-form-com {
    margin-bottom: 16px;
}

.modal-form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:hover,
.modal-form-comment:focus {
    border-color: #4d5ae5;
}

.user-privacy-form {
    margin-bottom: 24px;
}

.input-user-privacy:checked~.user-privacy-text .privacy-icon-style {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}

.input-user-privacy:checked~.user-privacy-text .privacy-icon-style svg {
    scale: 1;
}

.input-user-privacy:focus:focus-visible~.user-privacy-text .privacy-icon-style {
    border: 1px solid #404bbf;
}

.user-privacy-text {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: #8e8f99;
}

.privacy-icon-style {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.privacy {
    color: #4d5ae5;
    text-decoration: underline;
    letter-spacing: 0.48px;
}

.btn-form {
    display: block;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: auto;
    margin-left: auto;
}

/* Portfolio filters */

.main-section-portfolio {
    padding: 96px 0 120px 0;
}

.section-filters-title,
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-filters-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.section-filters-list .button {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-filters-subtitle {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.filter-subtitle-link {
    width: calc((100% - 48px) / 3);
}


.filter-subtitle-link .link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-subtitle-link .link:hover,
.filter-subtitle-link .link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.filter-subtitle-link .link:hover .filter-link-p,
.filter-subtitle-link .link:focus .filter-link-p {
    transform: translateY(0%);
}

.filter-link-div {
    position: relative;
    overflow: hidden;
}

.filter-link-p {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
}

.div-filters-item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.filters-button:hover,
.filters-button:focus {
    color: #ffffff;
    background-color: #404BBF;
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Mobile Menu */

.mobile-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.mobile-backdrop.is-open {
    transform: translateX(0);
}

.mobile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 320px;
    max-width: 428px;
    height: 100%;
    max-height: 796px;
    padding: 80px 0 40px 40px;
    background: #fff;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
    .mobile-container {
        display: none;
    }
}

.mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #2e2f42;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn:hover,
.mobile-menu-btn:focus {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;
}

.mobile-menu-refs,
.mobile-menu-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-contacts-list {
    margin-bottom: 48px;
}

.mobile-menu-refs {
    margin-bottom: auto;
}

.mobile-menu-refs-item {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-weight: 700;
}

.mobile-menu-refs-item-studio {
    color: #404BBF;
    font-size: 36px;
    font-weight: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-weight: 700;
}

.mobile-menu-tel-link {
    color: #404BBF;
    font-size: 36px;
    font-weight: 40px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    font-weight: 700;
}

.mobile-menu-refs-link:hover,
.mobile-menu-tel-link:hover,
.mobile-menu-email-link:hover,
.mobile-menu-refs-link:focus,
.mobile-menu-tel-link:focus,
.mobile-menu-email-link:focus {
    color: #404bbf;
}

.mobile-menu-refs-link,
.mobile-menu-tel-link,
.mobile-menu-email-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-email-link {
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}

.mobile-menu-socials {
    display: flex;
    justify-content: space-around;
}

.mobile-menu-socials-link:hover,
.mobile-menu-socials-link:focus {
    background-color: #404bbf;
}